<h2>Yeni Sipariş Oluştur</h2>

<form asp-action="CreateOrder" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">
        Siparişi Oluştur
    </button>
</form>
