<form asp-area="User"
      asp-controller="Order"
      asp-action="CreateOrder"
      method="post"
      style="margin-top:20px;">
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">
        Siparişi Tamamla
    </button>
</form>
