@model IEnumerable<MultiPanelE_Ticaret.Areas.Admin.ViewModels.UserListViewModel>

@{
    ViewData["Title"] = "Kullanıcı Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kullanıcı Yönetimi</h1>

<table class="table-bordered" style="margin:10px">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Aktif</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    @if (user.IsActive)
                    {
                        <span class="badge bg-success">Aktif</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Pasif</span>
                    }
                </td>
                <td>
                    <a href="/Admin/User/Edit/@user.Id" class="btn btn-warning">Güncelle</a>
                    <a class="btn btn-secondary" asp-area="Admin"
                       asp-controller="User"
                       asp-action="ToggleStatus"
                       asp-route-id="@user.Id">
                        Durumu Değiştir
                    </a>

                    <a href="/Admin/User/Delete/@user.Id" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="/Admin/User/Create" class="btn btn-primary">Yeni Kullanıcı Oluştur</a>
</p>
